.conteinerLB {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}
.conteinerLB2 {
  min-height: 60vh;
  margin: auto;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.titInicio {
  width: 149px;
  height: 157px;
  word-wrap: break-word;
  border-radius: 16px;
  background-color: white;
  margin: 0.3rem;
  color: #295db1;
  font-weight: 700;
  box-shadow: 0px 0px 8px #0d4862;
}

.titInicio > img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 16px 16px 0 0;
}
.titInicio > p {
  margin: auto;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  color: black;
  font-weight: 1000;
  font-family: "MiFuentePersonalizada";
}
.naviTit5 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.naviLanding {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  font-size: 1.3rem;
  margin-bottom: 16px;
  background-image: url("../assets/np_Flag\ of\ Japan\ made\ of\ rice\ and\ tuna\ meat\ texture_4ARV6b_free.jpg");
  animation: gradient-bg 50s ease infinite;
  box-shadow: 0px 0px 8px black;
}
@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.LogoNavi {
  height: 90px;
}
.logoL {
  display: flex;
  width: 110px;
  height: 100px;
  border-radius: 70%;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.463);
}

.navi2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}
.navi2 > p {
  margin: 0 1rem 0 1rem;
}

.naviTit2 {
  display: flex;
  font-weight: 500;
  color: black;
  font-weight: 800;
}
.titCasa {
  display: flex;
}

.navLink {
  text-decoration: none;
}

.nMenu {
  color: white;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

a {
  text-decoration: none;
}



.rowsCardL {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 7px;
  margin-bottom: 7px;
}

.evImg {
  object-fit: cover;
  object-position: bottom;
}
.eventsL > .titInicio {
  width: 86%;
  margin: auto;
  height: 157px;
}
.especial {
  border: solid goldenrod 1px;
  box-shadow: 0px 0px 8px goldenrod;
}
.logoTitle {
  color: white;
  font-size: 60px;
  font-weight: 800;
  text-shadow: #000000 5px 5px 10px;
}
@media (max-width: 600px) {
  .titInicio:hover {
    color: #d47618;
    border-radius: 20%;
    border: solid white;
  }
}
