
.switchsBar{
    display: flex;
}
.switchsBar > p{
    font-size: .8rem;
}

.backSwitch{
  animation: gradient-bg 1s ease infinite;
  display: flex;
  padding-top: .5rem;
  padding-bottom: .5rem;
  justify-content: space-evenly
}
@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.Chek{
  display: flex;
    align-items: center;
    flex-direction: column;
    width: 32%;
}

.box{
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 2px solid #0060FF;
  appearance: none;
  border-radius: 50%;
  background-color: whitesmoke;
}
.box:checked{
  background-color:black;
}

label::before{
  border-radius: 5px;
}

.styleForm{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inputStatus{
  border-radius: 24px;
  height: 24px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 24px;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  text-align: center;
  border: 2px solid #0060FF;
  box-shadow: 0px 0px 8px #0060FF inset;
}
.inputStatus::placeholder{
padding-left: 5%;
}