.goBag{
    position: sticky;
    bottom: 10px;

}
.btnGoBag{
    width: 80%;
    height: 50px;
    display: flex;
    border-radius: 16px;
    background: linear-gradient(-45deg, #024B40, #069a83, #023c33);
    border: outset #1d6c8d 2px;
    margin: auto;
    align-items: center;
    padding: 0 .5rem 0 .5rem;
    box-shadow: 0px 0px 8px #1f6b8c;
    box-shadow: #1f6b8c 0px 50px 100px -20px, #1f6b8c 0px 30px 60px -30px, #1f6b8c 0px -2px 6px 0px inset;
}

.pedido{
    margin: auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.cantidad{
    background-color: white;
    padding: .3rem .7rem .3rem .7rem;
    border-radius: 100%;
    margin-left: 1rem;
    color: black;
}
