@font-face {
  font-family: "MiFuentePersonalizada";
  src: url("../assets/Japanese2020-axanm.ttf") format("woff2");
}

.titleSection {
  font-size: 24px;
  color: black;
  text-align: left;
  padding-left: 4px;
  font-weight: 800;
  font-family: MiFuentePersonalizada;

}

.cafeBg {
  border-radius: 20px;
}
.conteinerLC {
  /* height: 70vh; */
  margin-top: 0.5rem;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}
.imgsTit {
  object-fit: cover;
  object-position: center;
  border: double 2px #18a59d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.conteinerLB2 > img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 150px;
}
/* .containerL {
  margin-top: 100px;
} */
.sectioner {
  white-space: pre;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.3rem;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 9999;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
::-webkit-scrollbar {
  display: none;
}
.sectioner > a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-left: 8px;
  border-radius: 8px;
  border: dotted 1px black;
  box-shadow: 0px 0px 8px #0060FF inset;
  text-decoration: none;
  color: black;
  padding: 12px 24px;
  margin-top: 0.3rem;
  background-color: whitesmoke;
}
.sectioner > a:active {
  background-color: #0b344683;
  border-radius: orange;
}

/* display: flex;

width: 84px;
height: 44px;

border: 1px solid #577377;
border-radius: 24px; */

/* justify-content: flex-start; */
@media (max-width: 600px) {
  .sectioner {
    justify-content: flex-start;
  }
  .leftInfo {
    padding-left: 0;
  }
}
