@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat&family=Mountains+of+Christmas&display=swap');
.btnNav{
    height: 30px;
    color: black; 
}

.btnMasInfo{
    border: none;
    border-radius: 50%;
    box-shadow: 1px 2px 1px #0060FF
}
.textNavid{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: black;
    margin: auto;
}
.noBord{
    border: none;
    background-color: transparent;

    border-radius: 50%;
    padding: 0;
 
}
.noBord> svg{
    fill: yellow;
}

.exit{
    border-radius: 6px;
    background-color: rgb(207, 52, 52);
    color: white;
    font-size: 1rem;
    margin-top: 5%;
    height: 100%;
}
.seguirDT{
    background-color: rgb(207, 129, 4);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    height: 32px;
    border-radius: 6px;
}
.logAlert{
    
}