h1 {
  color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 0;
}
.subName {
  color: white;
  margin-top: 0;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-image: url("../assets/np_Flag\ of\ Japan\ made\ of\ rice\ and\ tuna\ meat\ texture_4ARV6b_free.jpg");
  filter: grayscale(30%);
  animation: gradient-bg 50s ease infinite;
  box-shadow: 0px 0px 8px #0060FF;
}
@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*============= Search bar ==========*/
.back {
  margin-left: 0.5rem;
  margin-top: 10px;
}
.back > svg {
  margin-bottom: -2.5px;
  filter: drop-shadow(8px 8px 4px black);
}
.morton {
  width: 100px;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0062ff62;
}
.backLink {
  display: none;
}

.bakBagBtn {
  display: none;
}
@media (max-width: 600px) {
  .back:hover {
    box-shadow: 1px 2px 1px #0060FF;
  }
  .nav {
    justify-content: flex-start;
  }
  .backLink {
    display: block;
  }
  .morton {
    margin-left: 22%;
  }
  .bakBagBtn {
    display: block;
  }
}
